.fiche-container {
    padding: 40px;
    padding-bottom: 50px;
  }
  
  .btn-primary {
    background: #33721a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
   
    cursor: pointer;
  }
  .btn-primary2 {
    background: #bb3793;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    margin-bottom: 40px;
    margin-right: 30px;
    width: 40%;
    
    cursor: pointer;
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
    background: white;
  }
  
  th {
    background: #1a3e72;
    color: white;
    padding: 10px;
  }
  
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
  }
  
  input, select, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    margin-right: 10%;
    
  }