.calendar-container {
    width: 96%;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 70px;
    font-family: "Segoe UI", sans-serif;
    height: 50%;
  }
  
  .calendar-title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  
  .calendar-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
  }
  
  .calendar-controls button {
    padding: 8px 15px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .calendar-controls button:hover {
    transform: scale(1.08);
    background: #1d4ed8;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
  }
  
  .day-header {
    text-align: center;
    padding: 8px 0;
    font-weight: bold;
    background: #e5e7eb;
    border-radius: 6px;
  }
  
  .day-cell {
    min-height: 20px;
    padding: 6px;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .day-cell.empty {
    background: transparent;
    border: none;
  }
  
  .day-number {
    font-weight: bold;
    font-size: 14px;
  }
  
  .event-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-right: 10px;
  }
  
  .event-item {
    padding: 2px 6px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: center;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
  
  .event-item:hover {
    filter: brightness(1.2);
    transform: translateY(-1px);
  }
  
  